/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Layout */
.container{
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: calc(100%/3);
    padding: 5px;
}
/* Commons */
body{
    font-family: 'Roboto', sans-serif;
}
/* Utilities */
.bg-red{
    background-color: #eb0037;
}
.bg-green{
    background-color: #00875a;
}
/* Products */
.product{
    padding: 10px;
}
.product img{
    width: 100%;
}
.brand{
    text-transform: capitalize;
    color: #7f7f7f;
    font-size: 12px;
}
.name{
    text-transform: uppercase;
    font-weight: bold;
}
.cost{
    color: #ff0000;
    font-size: 12px;
    font-weight: bold;
}
.old-cost{
    color: #7e9191;
    text-decoration: line-through;
}
.image-product{
    position: relative;
}
/* Tags */
.tag{
    position: absolute;
    bottom: 3%;
    padding: 3px 6px;
    font-size: 10px;
    color: #ffffff;
    font-weight: bold;
}
.discount{
    left: 0;
}
.product-sustainability{
    left: 11%;
}
.heart{
    position: absolute;
    cursor: pointer;
    top: 5%;
    right: 0;
    background-color: #ffffff;
    text-align: center;
    padding: 5px 10px;
    font-size: 20px;
}
.heart:hover{
    color: #ff0000;
} 