/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Layout */
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: calc(100%/3);
    padding: 5px;
}
/* Commons */
body{
    font-family: 'Roboto', sans-serif;
}
/* Utilities */
.bg-red{
    background-color: #eb0037;
}
.bg-green{
    background-color: #00875a;
}
.bg-gray{
    background-color: lightgray;
}
.text-gray{
    color: gray;
}
/* Products */
.product{
    padding: 10px; 
}
.product img{
    width: 100%;
}
.img-bg{
    display: none;
}
.product:hover .img-bg{
    display: block;
    width: 100%;
    position: absolute;
}
.brand{
    text-transform: capitalize;
    color: #7f7f7f;
    font-size: 12px;
}
.name{
    text-transform: uppercase;
    font-weight: bold;
}
.cost{
    color: #ff0000;
    font-size: 12px;
    font-weight: bold;
}
.old-cost{
    color: #7e9191;
    text-decoration: line-through;
}
.image-product{
    position: relative;
}
/* Tags */
.tag{
    position: absolute;
    bottom: 3%;
    
    font-size: 10px;
    color: #ffffff;
    font-weight: bold;
}
.discount{
    padding: 3px 6px;
}
.product-sustainability{
    padding: 3px 6px;
}
.heart{
    position: absolute;
    cursor: pointer;
    top: 5%;
    right: 0;
    background-color: #ffffff;
    text-align: center;
    padding: 5px 10px;
    font-size: 20px;
}
.heart:hover{
    color: #ff0000;
} 
/* Header */
.header-naves{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 10px;
}
.logo{
    position: absolute;
    right: 480px;
    width: 120px;
    height: 24px;
}
.icon{ 
    margin: 20px;
    width: 20px;
    height: 20px;
}
.icon-hover:hover{
    background-color: lightgray;
    cursor: pointer;
}
.shop-section:hover{
    background-color: lightgray;
    cursor: pointer;
}
.header-naves ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.header-naves ul li{
    margin: 5px;
}
.research-bar{
    display: flex;
}
.research-bar input[type=text] {
    align-items: center;
    background-color: lightgray;
    background-image: url('../BONUS-EXPERIMENT/img/icona-lente-di-ingrandimento.png');
    background-size: 20px 20px;
    background-position: 5% 50%;
    background-repeat: no-repeat;
    padding: 10px;
    padding-left: 40px;
}
.shop-section{
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.shop-categories{
    color: rgb(37, 37, 37);
    font-size: 12px;
}
.shop-categories:hover{
    text-decoration: underline;
    cursor: pointer;
}
